*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Merriweather', serif; */
  background-color: lightgrey;
}
.container{
  width: 1400px;
  margin: 0 auto;
  text-align: start;
  background-color: white;
  height: 900px;
}
h1{
  padding: 50px;
}
h2{
  padding: 20px;
}
h3{
  padding: 10px;
  margin-left: 20px;
}
li{
  margin-left: 50px;

}